<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="30">
    <title>Studentų eilė konsutacijai</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Atsistoti į eilę konsultacijai:</h2>
    <div class="add-new">
    <form method="post" action="/add_student">
        <label for="name">Vardas:</label>
        <input type="text" name="name" id="name" required autofocus>
        <button type="submit">Į eilę</button>
    </form>
    </div>
    <h2>Nauji</h2>

    <ul>
        {% for student in new_students %}
        <li class="new-student">{{ student.name }}
            {% if session.teacher %}
                <form method="POST" action="/confirm_student">
                    <input type="hidden" name="student_id" value="{{ student.id }}">
                    <button type="submit">✔️ Atlikta</button>
                </form>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

    <h2>Patvirtinti</h2>

    <ul>
        {% for student in confirmed_students %}
        <li class="confirmed-student">{{ student.name }}
            {% if session.teacher %}
                <form method="POST" action="/serve_student">
                    <input type="hidden" name="student_id" value="{{ student.id }}">
                    <button type="submit">✔️ Atlikta</button>
                </form>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

        <h2>Pakonsultuoti</h2>
    <ul>
        {% for student in served_students %}
        <li class="served-student">{{ student.name }}</li>
        {% endfor %}
    </ul>



    <a href="/login">Prisijungimas mokytojui</a>
</body>
</html>
